/-- SQLite.sql
/bot backup.py
/bot.bat
/botdata.db
/botdataLARGEOLD.db
/botdataold.db
/config.json
/oldbot.py
/olduttt.py
/randinttest.py
/stringtesting.py
/__pycache__
/chessClassOLD.py
resources/base.pdn
